/* $primary: #267d92; */
.nav-container {
     width: 100%;
     padding: 2px;
     margin-bottom: 15px;
     
}
nav {
    float: right;
    
    /* display: flex;
    justify-content: space-around;
    flex-direction: column; */
    /* border-radius: 6px; */
    /* background-color: transparent; */
    overflow: hidden;
    /* box-shadow: 0 2px 8px #808080; */
}
    .barnav {
        margin: 10px;
         flex-grow: 1;
        text-align: center; 
         color: skyblue;
        background-color: transparent;
        padding: 5px 10px ;
        transition: background-color .5s 
    }  
.link1 {
    clear: both;
    float: right;
    margin-right: 20px;
    border: 2px;
}
.link2 {
    /* clear: both; */
    float: right;
    margin-right: 10px;
}
.link3 {
    float: right;
    margin-right: 10px;
}
.link4 {
    float: right;
    margin-right: 10px;
}
        
 .barlinks{
    text-decoration: none;
    color: #167394;
    text-align: center;
    margin-top: 5px;
    
} 

a{
    text-decoration: none;
    color: #167394;

  }