.fixedtitle{
    font-size: 25px;
    color: #167394;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 2px 4px grey


}

.mortgage{
    font-size: 18px;
    color: #167394;
    font-family: 'Playfair Display', serif;

}

.mtginput{
    flex: left;
}

.phoneinput{
    flex: left;
}

.phone{
    font-size: 18px;
    color: #167394;
    font-family: 'Playfair Display', serif;
}
.car{
    font-size: 18px;
    color: #167394;
    font-family: 'Playfair Display', serif;
}
.carinput{
    flex: left;
}

.cable{
    font-size: 18px;
    color: #167394;
    font-family: 'Playfair Display', serif;
}

.rentinsurance{
    font-size: 18px;
    color: #167394;
    font-family: 'Playfair Display', serif;
}

.totalfixed{
    font-size: 18px;
    color: #167394;
    font-family: 'Playfair Display', serif;

}

.phoneclass{
    display: inline-block;
    width:100px;
}