form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


h1 {
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;

}

input{
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

